@using PHS.DB
@model IEnumerable<form>

@{
    ViewBag.Title = "Index";
}

@section headerScripts{
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.filedrop.js")"></script>

}

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#dropZone').filedrop({
            url: '@Url.Action("UploadFiles")',
            paramname: 'files',
            maxFiles: 5,
            dragOver: function () {
                $('#dropZone').css('background', 'blue');
            },
            dragLeave: function () {
                $('#dropZone').css('background', 'gray');
            },
            drop: function () {
                $('#dropZone').css('background', 'gray');
            },
            afterAll: function () {
                $('#dropZone').html('The file(s) have been uploaded successfully!');
            },
            uploadFinished: function (i, file, response, time) {
                $('#uploadResult').append('<li>' + file.name + '</li>');
            }
        });
    });




    $(document).ready(function () {
        $("#btnTemplate").click(function () {

            var id = document.getElementById('ddl').value

            var jsonObject = {
                "formid": id
            };

            $.ajax({
                url: "@Url.Action("GenerateFormTemplate")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {


                },
                success: function (response) {
                    window.location = '/formimport/DownloadFormTemplate?fileGuid=' + response.FileGuid
                  + '&filename=' + response.FileName;
                }
            });

        });
    });

</script>

<h2>Import Data</h2>


@Html.DropDownList("ddl", Model.Select(item => new SelectListItem
{
    Value = item.ID.ToString(),
    Text = item.Title.ToString()

}), "Select Form")

<button type="button" id="btnTemplate">Download Form Template</button>



<div id="dropZone">Drop your files here</div>
<br />
Uploaded Files:
<ul id="uploadResult"></ul>
