USE [master]
GO
/****** Object:  Database [phsDataLoading]    Script Date: 11/08/2017 12:48:41 PM ******/
CREATE DATABASE [phsDataLoading]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phsDataLoading', FILENAME = N'D:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\phsDataLoading.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'phsDataLoading_log', FILENAME = N'D:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\phsDataLoading_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phsDataLoading].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phsDataLoading]
GO
/****** Object:  Table [dbo].[DataCollection]    Script Date: 11/08/2017 12:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCollection](
	[ID] [float] NULL,
	[Modality] [nvarchar](255) NULL,
	[Form] [nvarchar](255) NULL,
	[Label Text] [nvarchar](max) NULL,
	[Type ] [nvarchar](255) NULL,
	[Mandatory] [nvarchar](255) NULL,
	[Validation] [nvarchar](255) NULL,
	[Condition] [nvarchar](255) NULL,
	[Value 1] [nvarchar](255) NULL,
	[Value 2] [nvarchar](255) NULL,
	[Value 3] [nvarchar](255) NULL,
	[Value 4] [nvarchar](255) NULL,
	[Value 5] [nvarchar](255) NULL,
	[Value 6] [nvarchar](255) NULL,
	[Value 7] [nvarchar](255) NULL,
	[Value 8] [nvarchar](255) NULL,
	[Value 9] [nvarchar](255) NULL,
	[Value 10] [nvarchar](255) NULL,
	[Value 11] [nvarchar](255) NULL,
	[PreRegistrationFieldName] [nvarchar](255) NULL,
	[RegistrationFieldName] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[DataCollection] ([ID], [Modality], [Form], [Label Text], [Type ], [Mandatory], [Validation], [Condition], [Value 1], [Value 2], [Value 3], [Value 4], [Value 5], [Value 6], [Value 7], [Value 8], [Value 9], [Value 10], [Value 11], [PreRegistrationFieldName], [RegistrationFieldName]) VALUES (1, N'Registration', N'Registration Form', N'Phlebotomy Eligibility', N'HEADER', N'0', N'-', N'-', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DataCollection] ([ID], [Modality], [Form], [Label Text], [Type ], [Mandatory], [Validation], [Condition], [Value 1], [Value 2], [Value 3], [Value 4], [Value 5], [Value 6], [Value 7], [Value 8], [Value 9], [Value 10], [Value 11], [PreRegistrationFieldName], [RegistrationFieldName]) VALUES (2, N'Registration', N'Registration Form', N'1. Does the participant intend to undergo phlebotomy? 要抽血吗？', N'RADIOBUTTON', N'1', N'-', N'-', N'Yes', N'No', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
USE [master]
GO
