@model PHS.Business.ViewModel.PatientJourney.PatientEventViewModel
@using PHS.Business.ViewModel.PatientJourney
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html


@{
    ViewBag.Title = "Modality Forms";
}

@using (Html.BeginForm())
{

    <div id="ptForms">

        <ul>
            @{
                int counter = 1;

                foreach (var element in Model.ModalityForms)
                {
                    <li><a href="#tabs-@counter">@element.FormID</a></li>
                    counter = counter + 1;
                }
            }
            
        </ul>

        <div id="tabs-1">
            Content for Tab 1 goes here.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </div>

        <div id="tabs-2">
            Content for Tab 2 goes here.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </div>

    </div>
}

