@model PHS.Business.ViewModel.PatientJourney.PatientEventViewModel
@using PHS.Business.ViewModel.PatientJourney
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html


@{
    ViewBag.Title = "Modality Forms";
}

<script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
</script>

@using (Html.BeginForm())
{

    <div id="ptForms">

        <ul data-tabs="tabs" class="nav nav-tabs">
            @{
                int counter = 1;

                if (Model.isMegaSortingModalitySelected())
                {
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Mega Sorting Station</a></li>
                }

                else if (Model.isSummarySelected())
                {
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Mega Sorting Station</a></li>
                }

                else
                {
                    foreach (var element in Model.GetModalityFormsForTabs())
                    {
                        if (counter == 1)
                        {
                            <li class="active"><a data-toggle="tab" href="#tabs-@counter">@element.form.Title</a></li>
                        }

                        else
                        {
                            <li><a data-toggle="tab" href="#tabs-@counter">@element.form.Title</a></li>
                        }


                        counter = counter + 1;
                    }
                }


            }
            
        </ul>

        <div class="tab-content">
            @{
                if (Model.isMegaSortingModalitySelected())
                {
                    <div id="tabs-1" class="tab-pane fade in active">
                        @{Html.RenderPartial("_MegaSortingStationPartial", Model.Event.Modalities);}
                    </div>
                }

                else if (Model.isSummarySelected())
                {
                    <div id="tabs-1" class="tab-pane fade in active">
                        @{Html.RenderPartial("_SummaryPartial", Model.Event.Modalities);}
                    </div>
                }

                else
                {
                    int anothercounter = 1;

                    foreach (var element in Model.GetModalityFormsForTabs())
                    {
                        if (anothercounter == 1)
                        {
                            <div id="tabs-@anothercounter" class="tab-pane fade in active">
                                <iframe id="form-builder-frame" onload="resizeIframe(this)"
                                        src="@Url.HttpRouteUrl("journeymodality-viewform", new { embed=true, formId=element.FormID })"
                                        frameborder="0"
                                        width="100%"
                                        marginheight="0"
                                        marginwidth="0"
                                        scrolling="yes"></iframe>
                            </div>
                        }

                        else
                        {
                            <div id="tabs-@anothercounter" class="tab-pane fade">
                                <iframe id="form-builder-frame" onload="resizeIframe(this)"
                                        src="@Url.HttpRouteUrl("journeymodality-viewform", new { embed=true, formId=element.FormID })"
                                        frameborder="0"
                                        width="100%"
                                        marginheight="0"
                                        marginwidth="0"
                                        scrolling="yes"></iframe>
                            </div>
                        }

                        anothercounter = anothercounter + 1;
                    }
                }

            }

        </div>
   </div>
}

