@model PHS.Business.ViewModel.PatientJourney.PatientEventViewModel
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html

@{
    ViewBag.Title = "Journey Modality Page";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <table>
                
                <tr>
                    <td><b>@Model.FullName</b></td>
                    <td>Gender : Male</td>
                    <td>Age : 40</td>
                </tr>

                <tr>
                    <td>Language : English</td>
                    <td>NRIC : @Model.Nric</td>
                    <td>Contact : 12345678</td>
                </tr>
                
            </table>
        </div>
    </div>

}
