@*@model List<PHS.Business.ViewModel.PatientJourney.ModalityCircleViewModel> *@
@model List<PHS.DB.Modality>
@using PHS.Business.ViewModel.PatientJourney
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html


@{
    ViewBag.Title = "JourneyModalityCircles";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}

@using (Html.BeginForm())
{

}


<table>
    <tr>
        <td>
            @{Html.RenderPartial("_JourneyModalityCirclesPartial");}
        </td>
        <td style="vertical-align:top;">
            @{Html.RenderPartial("_MegaSortingStationPartial");}
        </td>
    </tr>
</table>

