@model PHS.Business.ViewModel.PatientJourney.JourneyModality
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html

@{
    ViewBag.Title = "Journey Modality Page";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="text-center">
                <div>

                    
                </div>
            </div>
        </div>
    </div>

}
