@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_MessageBoxPartial")

<h2 class="text-center" style="margin-top:10%">Reset Password</h2>

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()

    <div class="form-horizontal ">
        <hr />

        @* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

        <div class="form-group" style="margin-left:25%">
            <label class="control-label col-md-2">Temporary Password</label>
            <div class="col-md-10">
                <input type="password" name="oldPass" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="margin-left:25%">
            <label class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                <input type="password" name="newPass" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="margin-left:25%">
            <label class="control-label col-md-2">Confirm New Password</label>
            <div class="col-md-10">
                <input type="password" name="newPassConfirm" class="form-control" />
            </div>
        </div>

        <div class="form-group col-lg-offset-10">
            <div class="text-center">
                <button type="submit" value="Reset" class="btn btn-primary btn-lg has-spinner" style="width:400px" id="BtnReset">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                    Reset Password
                </button>
            </div>
        </div>
    </div>
}
<script type="text/javascript" defer="defer">
    $("button").click(function () {
        var $btn = $(this);
        $btn.button('loading');
        // simulating a timeout
        setTimeout(function () {
            $btn.button('reset');
        }, 100000);
    });

</script>
<style type="text/css">
    .spinner {
        display: inline-block;
        opacity: 0;
        width: 0;
        -webkit-transition: opacity 0.25s, width 0.25s;
        -moz-transition: opacity 0.25s, width 0.25s;
        -o-transition: opacity 0.25s, width 0.25s;
        transition: opacity 0.25s, width 0.25s;
    }

    .has-spinner.active {
        cursor: progress;
    }

        .has-spinner.active .spinner {
            opacity: 1;
            width: auto; /* This doesn't work, just fix for unkown width elements */
        }

    .has-spinner.btn-mini.active .spinner {
        width: 10px;
    }

    .has-spinner.btn-small.active .spinner {
        width: 13px;
    }

    .has-spinner.btn.active .spinner {
        width: 16px;
    }

    .has-spinner.btn-large.active .spinner {
        width: 19px;
    }
</style>
