
@using PHS.Business.Extensions
@using PHS.Common

@{
    ViewBag.Title = "GenerateZipFileTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnGenerate").click(function () {

            var healthReportType = document.getElementById('healthReportType').value;

            alert(healthReportType);

            var jsonObject = {
                "followgroupid": 1,
                "healthReportType": healthReportType
            };

            $.ajax({
                url: "@Url.Action("PrintHealthReportByFollowUpGroup", "FollowUpMgmt")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.Error);
                },
                success: function (response) {

                    window.location = '@Url.Action("DownloadZip", "FollowUpMgmt")?fileGuid=' + response.FileGuid
                                      + '&filename=' + response.FileName;
                }
            });

        });
    });

</script>

<h2>GenerateZipFileTest</h2>

@{

    var internallistItems1 = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "Normal", Value = Constants.Followup_Print_HealthReport_Normal},
                            new SelectListItem {Text = "Abnormal", Value = Constants.Followup_Print_HealthReport_Abnormal},
                            new SelectListItem {Text = "Abnormal Non Eligible", Value = Constants.Followup_Print_HealthReport_AbnormalNonEligible}
                        };

    @Html.DropDownList("healthReportType", internallistItems1, string.Empty,
                                        new Dictionary<string, object>
                                        {
                                            { "data-field-property", "healthReportType"},
                                            { "class","is-publisher"}

                                         })
}

<button type="button" id="btnGenerate">Download Zip</button>
