@model IEnumerable<PHS.DB.PHSEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Follow Up Management</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.DropDownList("EventID", new SelectList(Model, "PHSEventID", "Title"), "Select Event")


        @*@using (Html.BeginForm("Index", "FollowUpMgmt", FormMethod.Get))
        {
            <label>Event</label>
            @Html.DropDownList("phsEventId",
         new SelectList(Model.PHSEvents, "PHSEventID", "Title"))
            <button type="submit" class="btn btn-basic" value="Apply">Apply</button>
            <h4>No Follow up configuration Deployed!!</h4>
        }*@
    </div>
</div>

<div id="followupConfigurations">
</div>

<script>
    $("#EventID").change(function (event) {
        var eventid = $(this).val();
        if (eventid != 0) {
            $.ajax({
                url: "@Url.Action("GetFollowUpConfigurationByEventID", "FollowUpMgmt")",
                data: { phsEventId: eventid },
                type: "Get",
                dataType: "html",
                success: function (result) {
                        $("#followupConfigurations").html(result);
                }
            });
        }
        else {
            $("#followupConfigurations").html("");
        }
    });
</script>
