use [phs]

CREATE TABLE #FUVol(
	[Name] [nvarchar](255) NULL,
	[MatricNo] [nvarchar](255) NULL,
	[Role] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT #FUVol ([Name], [MatricNo], [Role]) VALUES (N'Ho Jin Yang', N'A0121716N', N'Committee Member')
INSERT #FUVol ([Name], [MatricNo], [Role]) VALUES (N'Sarah Tham Zhuling', N'A0141292M', N'Committee Member')
INSERT #FUVol ([Name], [MatricNo], [Role]) VALUES (N'Andrea Ang Jing Shi', N'A0141269E', N'Committee Member')
GO


update phs.dbo.PHSUser set EffectiveEndDate = '2017-10-30 00:00:00.0000000', IsActive = 0 where Username != 'Admin1' 

update phs.dbo.PHSUser set Role = fuvol.role, EffectiveEndDate = '2018-10-30 00:00:00.0000000', IsActive = 1 FROM #FUVol fuvol left join phs.dbo.PHSUser phsuser on
  fuvol.MatricNo = phsuser.Username
  where phsuser.Username is not null 

drop table #FUVol