@using PHS.FormBuilder.Helpers
@using PHS.Common
@using PHS.FormBuilder.Extensions

<script id="form-field-checkbox-template" type="text/x-jquery-tmpl">
    <label style="width: 70%; word-wrap: break-word; text-align: left;"  
           data-sub-channel="sub-label-${id}"
           class="label editable">Click to edit</label>

    <span class="required hidden">*</span>

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <ul class="option-list vertical-list">
            <li>
                <input id="SubmitFields[${id}].Checkbox" name="SubmitFields[${id}].Checkbox" type="checkbox" value="Option 1" />
                <label style="display: block; margin-left: 20px; margin-top: -18px; word-wrap: break-word">Option 1</label>
            </li>
            <li>
                <input type="checkbox" value="Option 2" /><label>Option 2</label>
            </li>
        </ul>
        <ul class="othersoption-list vertical-list">
            <li>
                <input name="SubmitFields[${id}].Checkbox" id="SubmitFields[${id}].CheckboxOthersOption" type="checkbox" name="checkbox-${id}" style="display:none" value="OthersOption" />
                <input name="SubmitFields[${id}].OthersOption" id="SubmitFields[${id}].OthersOption" type="text" style="display:none" placeholder="Others" />
            </li>
        </ul>
        @Html.Partial("_form-field-properties")
    </div>
    <a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>
    @Html.Partial("_form-field-settings-template")
</script>