@model PHS.DB.ViewModels.Forms.TemplateViewModel

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<ul class="vertical-list admin-links form-tools-menu">
    <li class="header static-assets/section-header.png">
        <h3 class="fm-basictools-icon">Basic Tools</h3>
        <a id="basic-tools-toggler" href="javascript:void(0);" class="menu-toggle basic-tools"><span class="menu-toggle-up-icon"></span></a>
    </li>
</ul>
<ul id="basic-tools-list" class="vertical-list admin-links form-tools-menu tools-list">
    <li class="form-tool" data-type="Header">
        <a href="javascript:voi(0);"><span class="fm-header-icon">Heading</span></a>
    </li>
    <li class="form-tool" data-type="textbox">
        <a href="javascript:voi(0);"><span class="fm-textbox-icon">Text Box</span></a>
    </li>
    <li class="form-tool" data-type="textarea">
        <a href="javascript:void(0);"><span class="fm-textarea-icon">Text Area</span></a>
    </li>
    <li class="form-tool" data-type="dropdownlist">
        <a href="javascript:void(0);"><span class="fm-dropdown-icon">Drop Down</span></a>
    </li>
    <li class="form-tool" data-type="radiobutton">
        <a href="javascript:void(0);"><span class="fm-radio-icon">Radio Button</span></a>
    </li>
    <li class="form-tool" data-type="checkbox">
        <a href="javascript:void(0);"><span class="fm-checkbox-icon">Check Box</span></a>
    </li>
</ul>
<ul class="vertical-list admin-links form-tools-menu">
    <li class="header static-assets/section-header.png">
        <h3 class="fm-advancedtools-icon">
            Advanced Tools
        </h3>
        <a id="advanced-tools-toggler" href="javascript:void(0);" class="menu-toggle advanced-tools">
            <span class="menu-toggle-up-icon"></span>
        </a>
    </li>
</ul>
<ul id="advanced-tools-list" class="vertical-list admin-links form-tools-menu tools-list">
    @*<li class="form-tool" data-type="fullname">
        <a href="javascript:void(0);">
            <span class="fm-fullname-icon">Full Name</span>
        </a>
    </li>*@
    @*<li class="form-tool" data-type="email">
        <a href="javascript:void(0);"><span class="fm-email-icon">Email</span></a>
    </li>*@
    <li class="form-tool" data-type="address">
        <a href="javascript:void(0);"><span class="fm-address-icon">Address</span></a>
    </li>
    @*<li class="form-tool" data-type="phone">
        <a href="javascript:void(0);"><span class="fm-phone-icon">Phone</span></a>
    </li>*@
    <li class="form-tool" data-type="birthdaypicker">
        <a href="javascript:void(0);"><span class="fm-birthdaypicker-icon">Birthday Picker</span></a>
    </li>
    @*<li class="form-tool" data-type="filepicker">
        <a href="javascript:void(0);"><span class="fm-filepicker-icon">File Upload</span></a>
    </li>*@
    <li class="form-tool" data-type="nricpicker">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">account_circle</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">NRIC</span>
        </a>
    </li>
    <li class="form-tool" data-type="matrix">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">grid_on</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">Matrix</span>
        </a>
    </li>
    <li class="form-tool" data-type="bmi">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">accessibility</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">BMI</span>
        </a>
    </li>
    <li class="form-tool" data-type="image">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">insert_photo</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">
                Image
            </span>
        </a>
    </li>


    <li class="form-tool" data-type="doctormemo">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">assignment_ind</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">
                Doctor Memo
            </span>
        </a>
    </li>

    <li class="form-tool" data-type="signature">
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:18px; padding: 4px 0px 0px 0px;">fingerprint</i>
            <span style="background-image:none; margin:-27px 0px 0px 0px;">
                Signature
            </span>
        </a>
    </li>



</ul>
<div class="inner-container">

</div>