
@using PHS.Common
@using PHS.Business.Extensions

<script id="form-field-referencefield-template" type="text/x-jquery-tmpl">

    <span class="required hidden">*</span>

    <div class="input" style="width: 70%; margin-left: 1cm;">
        @Html.Partial("_form-field-properties")
    </div>
    <a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>
    @Html.Partial("_form-field-settings-template")
</script>