
@using PHS.Business.Extensions

<script id="form-field-bmi-template" type="text/x-jquery-tmpl">
    <label style="width: 90%; word-wrap: break-word; text-align: left;"
           data-sub-channel="sub-label-${id}"
           class="label editable">Click to edit</label>

    <span class="required hidden">*</span>

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <ul class="vertical-list">

            <li>
                <input type="number" class="title" id="Weight" /><br />
                <span class="sub-label">Weight (kg)</span>
            </li>

            <li>
                <input type="number" class="title" id="Height" /><br />
                <span class="sub-label">Height (cm)</span>
            </li>

            <li>
                <button type="button" id="btnBmiSubmit">Check</button>
            </li>


            <li>
                <br />
                <label>BMI: </label>
            </li>

            <li>
                <br />
                <label>Risk</label>
            </li>
        </ul>
        @Html.Partial("_form-field-properties")
    </div>
    <a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>
    @Html.Partial("_FormFieldSettingsPartial")
</script>