
@using PHS.Common
@using PHS.Business.Extensions

<script id="form-field-sectioncollapse-template" type="text/x-jquery-tmpl">

    <p style="width: 90%; word-wrap: break-word; text-align: left;"
       data-sub-channel="sub-label-${id}"
       class="label editablewysiwyg">Click to edit</p>

    <img id="ImageView-${id}" src="~/Content/images/down.png" width="12" height="7">

    <span class="required hidden">*</span>

    <div class="input" style="width: 70%; margin-left: 1cm;">
        @Html.Partial("_FormFieldPropertiesTemplatePartial")
    </div>
    <a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>
    @Html.Partial("_FormFieldSettingsPartial")
</script>