@model PHS.DB.ViewModels.Form.TemplateFieldViewModel
@using PHS.Business.Extensions

<h2 data-sub-channel="sub-text-@Model.DomId" 
    class="default editablewysiwyg" style="word-wrap:break-word;">@Html.Raw(@Model.Label)</h2>

@if (Model.IsEditMode())
{
@Html.Partial("_FormFieldPropertiesPartial")
@Html.Partial("_FormFieldSettingsPartial")
}
