<script id="form-field-headersub-template" type="text/x-jquery-tmpl">
<h3 data-sub-channel="sub-text-${id}" class="default editable">Click to edit</h3>

@Html.Partial("_form-field-properties")
@Html.Partial("_FormFieldSettingsPartial")

</script>