
@using PHS.Common
@using PHS.Business.Extensions

<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>

<script type="text/javascript">


    $(function () {
        $("ImageView -${id}").resizable();
    });

</script>

<script id="form-field-image-template" type="text/x-jquery-tmpl">

    <span class="required hidden">*</span>
    <div class="input" style="width: 90%; margin-left: 1cm;">

        <img id="ImageView -${id}" src="" width="42" height="42">

        @Html.Partial("_form-field-properties")
    </div>



    <a href="javascript:void(0);" class="help-icon-1 help-icon hide w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>
    @Html.Partial("_FormFieldSettingsPartial")
</script>