@model PHS.Business.ViewModel.ParticipantJourney.ParticipantJourneyFormViewModel

@using PHS.Business.Extensions
@using PHS.DB
@using System.Collections.Generic;
@using GridMvc.Html

@{
    ViewBag.Title = "_ExhibitionSummaryPartial";
}

<style>
    input {
        border: 0;
    }
</style>


@using (Html.BeginForm())
{
    <div>
        <br />

        <div class="panel-group">
            @if (Model != null)
            {
                foreach (var summaryCategory in Model.GetExhibitionSummaryCategories())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">@summaryCategory.SummaryCategoryName</div>
                        <div class="panel-body">
                            <ul class="vertical-list">
                                @foreach (var summary in summaryCategory.ExhibitionSummaries)
                                {
                                    <li style="margin-bottom: 1em;">
                                        <b>@summary.SummaryLabel</b><br />
                                        <span class="LabelForsub-label">@summary.SummaryValue</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

            }

        </div>

    </div>
}

