@model PHS.Business.ViewModel.ParticipantJourney.PatientEventViewModel
@using PHS.Business.ViewModel.ParticipantJourney

@using PHS.Business.Extensions
@using GridMvc.Html


@{
    ViewBag.Title = "Modality Forms";
}

<script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }

        $(document).ready(function ($) {
            $('.nav-tabs > li > a').on('click', function (event) {
                //avoid <a> tag to load his href
                event.preventDefault();
                //getting the main subjects
                var id_of_selected = $(this).attr('load-in');
                var link_to_load = $(this).attr('href');
                var iframe_to_load = $(document).find('#' + id_of_selected);
                
                var selectedFormId = id_of_selected.replace("form-builder-frame-", "");

                //console.log(iframe_to_load);
                //make the magic
                if (iframe_to_load.length) {
                    iframe_to_load.attr('src', "/phs/journeymodality/viewform/" + selectedFormId + "/True?httproute=True"); //this fires the link to destinated iframe
                    iframe_to_load.parent().addClass('active'); //this make the parent div container of iframe visible
                }

            });
        });
</script>

@using (Html.BeginForm())
{

    <div id="ptForms">

        <ul data-tabs="tabs" class="nav nav-tabs">
            @{
                int counter = 1;

                if (Model.isSummarySelected())
                {
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Summary</a></li>
                }

                else
                {
                    foreach (var element in Model.GetModalityFormsForTabs())
                    {
                        if (counter == 1)
                        {
                            <li class="active"><a data-toggle="tab" href="#tabs-@counter" load-in="form-builder-frame-@element.ID">@element.Title</a></li>
                        }

                        else
                        {
                            <li><a data-toggle="tab" href="#tabs-@counter" load-in="form-builder-frame-@element.ID">@element.Title</a></li>
                        }


                        counter = counter + 1;
                    }
                }


            }
            
        </ul>

        <div class="tab-content">
            @{
                int anothercounter = 1;

                if (Model.isSummarySelected())
                {
                    <div id="tabs-1" class="tab-pane fade in active">
                        @{Html.RenderPartial("_SummaryPartial", TempData.Peek("PatientEventModalityViewModel"));}
                    </div>
                }

                else
                {

                    foreach (var element in Model.GetModalityFormsForTabs())
                    {
                        if (anothercounter == 1)
                        {
                            <div id="tabs-@anothercounter" class="tab-pane fade in active">
                                <iframe id="form-builder-frame-@element.ID" onload="resizeIframe(this)"
                                        src="@Url.HttpRouteUrl("journeymodality-viewform", new { embed=true, formId=element.ID })"
                                        frameborder="0"
                                        width="100%"
                                        marginheight="0"
                                        marginwidth="0"
                                        scrolling="yes"></iframe>
                            </div>
                        }

                        else
                        {
                            <div id="tabs-@anothercounter" class="tab-pane fade">
                                <iframe id="form-builder-frame-@element.ID" onload="resizeIframe(this)"
                                        src=""
                                        frameborder="0"
                                        width="100%"
                                        marginheight="0"
                                        marginwidth="0"
                                        scrolling="yes"></iframe>
                            </div>
                        }

                        anothercounter = anothercounter + 1;
                    }
                }

            }

        </div>
   </div>
}

