@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success text-center">
        <strong>@ViewBag.Message</strong>
        <a href="@Url.Action("CreateForm", "Forms")" id="RegisterParticipant" class="hyperlink-button green-button">Yes, Register</a>
    </div>
}
@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger text-center">
        <strong>@ViewBag.Error</strong>
    </div>
}