@model IEnumerable<PHS.DB.PHSEvent>

@using GridMvc.Html

@{
    ViewBag.Title = "Search Participant Page";
}

@using (Ajax.BeginForm("SearchParticipantJourney", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">

            @if (Model != null)
            {

                @Html.Grid(Model).Named("eventGrid").Columns(columns =>
                {
                    columns.Add(c => c.Title).Titled("Event").Filterable(false);
                    columns.Add(c => c.PHSEventID, true).Titled("EventID").Filterable(false);
                    columns.Add(c => c.Venue).Titled("Venue").Filterable(false);
                    columns.Add(c => c.StartDT).Titled("Start Date").Filterable(false);
                    columns.Add(c => c.EndDT).Titled("End Date").Filterable(false);
                }).WithPaging(10).Selectable(true)
            }

            
        </div>
    </div>
}


<div id="results">

</div>
